.producto-carrito {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.producto-carrito img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.btn-vaciar {
    background: #ff4444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.Envio {
   background-color: lightsalmon;
   display: flex;
   justify-content: center;
   color: rgb(249, 246, 241);
   height: 5rem;
   margin-top: 3rem;
}

.Envio header {
   padding-top: 2rem;
   font-size: large;

   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}